body, html {
  height: 100%;
  margin: 0;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	left: 0;
}

/* Control the right side */
.right {
	background-image: url("../images/bg7.png");
	background-repeat: no-repeat;
	background-size: cover;
	right: 0;
}

/* Make anchors inherit color of object */
a { color: inherit; } 

.fa-gamepad{
	text-shadow: 0 0 10px #ffffff;
}

.fa-school{
	text-shadow: 0 0 10px #ffffff;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.logo-one{
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 10%;
}

.logo-two{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 10%;
}

.logo-three{
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 15%;
}