body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../../website/images/bg.jpg");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(139,136,120, 0.8);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  height: 10%;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.logo-one{
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 10%;
}

.logo-two{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 10%;
}

.logo-three{
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 15%;
}